<div class="container">
  <div class="row">
      <div class="col-md-6">
          <h2>Happy &amp; excited about XTantransh</h2>
<!--                             <h3 class="caption gray">Customers in 100+ countries use our services</h3>
-->                            <p> We, xTantransh belives in Coming together is a Begining; Keeping together is a Progress; Working together is Success. There are no secrets to success. It is the result of preparation, hard work and learning from failure.&nbsp;</p>
                  <p>xTantransh develops cross-platform Mobile Apps. Well-made cross-platform mobile app will carry the advantage that users on more than one platform have access to your product or service.</p>

          <blockquote>
          "It's fine to celebrate success but it is more important to heed the lessons of failure."
              <span>XTantransh</span>
          </blockquote>

       <!--    <h3 class="gray light">Over the past of this years we've worked with some amazing small businesses, non-profits, academic institutions.<h3> -->

      </div><!-- /.col-md-6 -->
      
      <div class="col-md-6">
          <!-- Display image -->
          <img src="assets/xtantransh.jpg" class="img-responsive">
          <!-- Optional video embed code -->
          <!-- <div class="embed-responsive embed-responsive-16by9"> -->
<!--                                                                             <img src="assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
-->
             <!--  <iframe src="https://player.vimeo.com/video/132613118?title=0&amp;byline=0&amp;portrait=1" class="embed-responsive-item" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
          <!-- </div> -->
      </div><!-- /.col-md-6 -->
  </div><!-- /.row -->
</div>