<div class="container">
  <div class="row text-center">
     <div class="col-md-15">
        <h2>Contact</h2>
        <h3 class="caption gray">Feel free to get in touch with us if you have a new project or simply something Awesome</h3>
     </div><!-- /.col-md-12 -->

</div><!-- /.row -->
</div><!-- /.container -->

     <div class="container">
        <div class="row form-container ">
            <div class="col-md-8 contact-form ">
                <h3>Drop us a line</h3>
                <form class="ajax-form" id="contactForm" method="post" action="assets/php/contact.php">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name..." value="" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your email..." value="" required>
                    </div>
                    <div class="form-group">
                        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Your phone..." value="" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" name="message" placeholder="Your message..." required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-default"><i class="fa fa-paper-plane fa-fw"></i> Send</button>
                    </div>
                </form>
            </div><!-- /.contact-form -->

             
        </div><!-- /.row -->
    </div><!-- /.container -->