<div class="container-fluid">
  <div class="caption">
                  <div>

                   <h2> Some of our recent work</h2> <br>
                      
                  </div>
              </div>
  <div class="row">
      <div class="col-md-2">
          <div class="thumbnail">
       <img src="assets/images/raje.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">

              <!-- <div class="image"><img class="undefined" src="assets/images/raje.jpg"></div> -->
              <div class="caption">
                  <div>
                      <h3>Chhatrapati Shivaji Maharaj</h3>
                      <p>Chatrapati Shivaji Maharaj was the founder of the Maratha Empire in western India. He is considered to be one of the greatest warriors. &nbsp;</p>
                  </div>
                  <p class="group"><a href="https://play.google.com/store/apps/details?id=com.Chatrapati.ShivajiMaharaj" class="btn btn-default">  DOWNLOAD</a></p>
              </div>
          </div>
      </div>

      <div class="col-md-2">
          <div class="thumbnail">
                <img src="assets/images/svcet.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
              <!-- <div class="image"><img class="undefined" src="assets/images/svcet.jpg"></div> -->
              <div class="caption">
                  <div>
                      <h3>SVCET</h3>
                      <p>This application is only For the Students of sahyadri valley college of engineering & technology,Rajuri. This App will make digital college and notifications.</p>
                  </div>
                  <p class="group"><a href="https://play.google.com/store/apps/details?id=com.xtantransh.svcet" class="btn btn-default">  DOWNLOAD</a></p>
              </div>
          </div>
      </div>
      <div class="col-md-2">
          <div class="thumbnail">
               <img src="assets/images/geeta.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">

<!--                     <div class="image"></br></br></br></br></br><img class="undefined" src="assets/images/newsapp.jpg"></div>
-->                    <div class="caption">
                  <div>
                      <h3>Geeta</h3> 
                      <p>Bhagvat Geeta is whole communication that happens between Bhagvan Shrikrishna and Arjun. 
                          Bhagvan Shrikrishna was convensing Arjun for war between Dharma and Adharma .
                      </p>
                  </div>
                  <p class="group"><a href="https://play.google.com/store/apps/details?id=com.raj.bhagvatgeeta" class="btn btn-default">  DOWNLOAD</a></p>
              </div>
          </div>
      </div>
      <div class="col-md-2">
          <div class="thumbnail">
           <img src="assets/images/solar.png" class="img-responsive img-circle tm-border" alt="templatemo easy profile">

              <!-- <div class="image"><img class="undefined" src="assets/images/kindle-350x350-47.png"></div> -->
              <div class="caption">
                  <div>
                      <h3>Solar System</h3>
                      <p>This app gives a information of our solar system.App provide basic information and some interesting facts about each planet. </p>
                  </div>
                  <p class="group"><a href="https://play.google.com/store/apps/details?id=com.hrapps.solarsystem" class="btn btn-default">  DOWNLOAD</a></p>
              </div>
          </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
         <img src="assets/images/solar.png" class="img-responsive img-circle tm-border" alt="templatemo easy profile">

            <!-- <div class="image"><img class="undefined" src="assets/images/kindle-350x350-47.png"></div> -->
            <div class="caption">
                <div>
                    <h3>Solar System</h3>
                    <p>This app gives a information of our solar system.App provide basic information and some interesting facts about each planet. </p>
                </div>
                <p class="group"><a href="https://play.google.com/store/apps/details?id=com.hrapps.solarsystem" class="btn btn-default">  DOWNLOAD</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
       <img src="assets/images/solar.png" class="img-responsive img-circle tm-border" alt="templatemo easy profile">

          <!-- <div class="image"><img class="undefined" src="assets/images/kindle-350x350-47.png"></div> -->
          <div class="caption">
              <div>
                  <h3>Solar System</h3>
                  <p>This app gives a information of our solar system.App provide basic information and some interesting facts about each planet. </p>
              </div>
              <p class="group"><a href="https://play.google.com/store/apps/details?id=com.hrapps.solarsystem" class="btn btn-default">  DOWNLOAD</a></p>
          </div>
      </div>
  </div>
  </div>
</div>