
  <div class="row">
      <div class="col-md-4">
          <!-- <img src="assets/images/hallooou_template-iphone_white.png" class="center-block img-responsive"> -->
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
          <div class="products-container">

              <div class="col-md-12">
                  <h2>Why XTantransh is Awesome?</h2>
                  <h3 class="caption white">Ultricestum urna litora sit sed praesent condimentum eu a et scelerisque</h3>
              </div><!-- /.col-md-12 -->

              <div class="col-md-6 product-item">
                  <div class="media-left">
                      <span class="icon"><i class="fa fa-arrows-alt fa-3x"></i></span>
                  </div><!-- /.media-left -->
                  <div class="media-body">
                      <h3 class="media-heading">Responsive Layout</h3>
                      <p>Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
                  </div><!-- /.media-body -->
              </div><!-- /.col-md-6 -->

              <div class="col-md-6 product-item">
                  <div class="media-left">
                      <span class="icon"><i class="fa fa-eye fa-3x"></i></span>
                  </div><!-- /.media-left -->
                  <div class="media-body">
                      <h3 class="media-heading">Retina Ready Graphics</h3>
                      <p>Looks beautiful &amp; ultra-sharp on Retina Displays with Retina Icons, Fonts &amp; Images.</p>
                  </div><!-- /.media-body -->
              </div><!-- /.col-md-6 -->

              <div class="col-md-6 product-item">
                  <div class="media-left">
                      <span class="icon"><i class="fa fa-arrows-v fa-3x"></i></span>
                  </div><!-- /.media-left -->
                  <div class="media-body">
                      <h3 class="media-heading">Parallax Sections</h3>
                      <p>Comes with Parallax effect script so you can add Parallax effect to any section of the website.</p>
                  </div><!-- /.media-body -->
              </div><!-- /.col-md-6 -->

              <div class="col-md-6 product-item">
                  <div class="media-left">
                      <span class="icon"><i class="fa fa-video-camera fa-3x"></i></span>
                  </div><!-- /.media-left -->
                  <div class="media-body">
                      <h3 class="media-heading">YouTube &amp; HTML5 Background Video</h3>
                      <p>Choose to display either YouTube or HTML5 as background video.</p>
                  </div><!-- /.media-body -->
              </div><!-- /.col-md-6 -->

              <div class="col-md-6 product-item">
                  <div class="media-left">
                      <span class="icon"><i class="fa fa-toggle-on fa-3x"></i></span>
                  </div><!-- /.media-left -->
                  <div class="media-body">
                      <h3 class="media-heading">Color Options</h3>
                      <p>Choose a color that suits your brand &amp; change the color of the template with just one CSS file.</p>
                  </div><!-- /.media-body -->
              </div><!-- /.col-md-6 -->

              <div class="col-md-6 product-item">
                  <div class="media-left">
                      <span class="icon"><i class="fa fa-envelope-o fa-3x"></i></span>
                  </div><!-- /.media-left -->
                  <div class="media-body">
                      <h3 class="media-heading">Contact form</h3>
                      <p>Fully functional PHP contact form, with user input validation.</p>
                  </div><!-- /.media-body -->
              </div><!-- /.col-md-6 -->

          </div><!-- /.products-container -->
      </div><!-- /.col-md-8 -->

  </div><!-- /.row -->
