
  <div class="row text-center">
      <div class="col-md-12">
          <h2>Our Services</h2>
<!--                              <hr class="divider" />
--><!--                              <div class="divider-1 wow fadeInUp"><span></span></div>
--><!--                             <h3 class="caption gray">Eleifend mi iaculis parturient etiam volutpat pulvinar eleifend</h3>
-->                        </div><!-- /.col-md-12 -->

      <div class="container">
          <div class="row text-center">
                      <div class="col-md-4">
                          <div class="row services-item sans-shadow text-center">
                              <i class="fa fa-cogs fa-3x"></i>
                              <h4>Development</h4>
                              <p>We build Wordpress and custom plugins and back-end solutions.We build Wordpress and custom plugins and back-end solutions.We build Wordpress and custom plugins and back-end solutions.</p>
                          </div><!-- /.row -->
                      </div><!-- /.col-md-4 -->

                       <div class="col-md-4">
                          <div class="row services-item sans-shadow text-center">
                              <i class="fa fa-align-center fa-3x"></i>
                              <h4>Web design</h4>
                              <p>What you say and how you say it is as important as everything elseWhat you say and how you say it is as important as everything elseWhat you say and how you say it is as important as everything else</p>
                          </div><!-- /.row -->
                      </div><!-- /.col-md-4 -->

                      <div class="col-md-4">
                          <div class="row services-item sans-shadow text-center">
                              <i class="fa fa-mobile fa-3x"></i> 
                              <h4>iOS / Android / Windows</h4>
                              <p>Specializing in product and photo journalistic style photographySpecializing in product and photo journalistic style photographySpecializing in product and photo journalistic style photography</p>
                          </div><!-- /.row -->
                      </div><!-- /.col-md-4 -->

          </div><!-- /.row -->
      </div><!-- /.container -->

  </div><!-- /.row -->